<div>
    <p>
    I am Reilly McLaren, and my goal is to develop a life where I am thrilled to wake up every morning.
    Today's date is {{currentDateString}}, so it has been {{this.computeTimeSinceCreation()}} days since 
    starting this website. I'll save you from doing any math by telling that this began on January 1st, 2023. 
    The beginning of something new. I promised myself that I would take advantage of the opportunities that are out there, 
    and that begins by putting to use the skills that I already have. <br>
    Depending on what stage you see this site in, you may be unimpressed. But like everything in life, this site is a journey that must begin somewhere. 
    At the time of writing this all there was on this page was a single div. We're moving into an age where the very skill of programming
    is becoming automated, outsourced to artificial intelligence that will be able to craft much more innovative applications then we could ever design. 
    Before that happens, I would like to take a stab at dreaming up what is possible to make with a few lines code. What old(and new) problems can be solved,
    what dreams can be thought of and crafted into a reality. I'm rambling instead of actually building the site, but oh well. 
    </p>
    <p>
        Entry number 2(I should really save these into the mongoDB database). I also ought to be heading down to see my grandma,
        but I've become quite obsessed with working on this website. Earlier today I was trying to figure out how to make the image gallery 
        look better, and boy was that frustrating. The point of all this? There isn't much. But it's slowly coming together into something that I'm 
        happier to look at. The parts that I really enjoy are the silly designs. The other day I watched Mae Martin's comedy special with Vince and Ruchi,
        and Mae talked about how it's funny/ridiculous that we all still have rooms, and how the way we decorate our rooms represents who we are. I have MY room and I am Me,
        and all that I've done to set that room up shows how me I really am. That's how I feel with this website. Even though it provides much more frustration(maybe)
        than hanging up some posters. Seeing that the key(or one of the keys) to a beautiful website really is the graphics. The end, time to see grandma. 
    </p>
    <p>
        Another blog that's not really a blog. It's the day that Ruchi and I head off to Berlin. I'm looking through this website and seeing how much I've left for myself. 
        Today's date is 5-23-2023, and I've let this website slip away from me. But I'll always come back! It's necessary to finish what you've started, especially when it 
        seems hard. The one thing that turns me away from this is how far it seems I have to go, but that's because I haven't given myself the tiny pieces that are neceesary
        to step through. If I can't do that then I'll never get anywhere. Listening to Kanye and Mos Def, singing their sweet outro. What more is there to say other than that 
        it's truly a beautiful day, worth seizing. I've never had any reason to feel down and out, and yet I let myself succumb to thoughts that aren't really mine. The beat flows
        on, it flows in me and I want to express that in every word that I say, that I type, in every message that I put out whether that's conveyed in a website, a song, a blog. Does 
        not matter, does it? And so it continues. 
    </p>
    <p>
        Fourth entry, another revisit to the site that. I would really like to build this tool I've had in my mind for awhile, which is a "Goal Assistant" or something like that. Essentially it would help you to define reasonable goals,
        and then provide the necessary tracking to provide insights into what is helping you reach that goal, and what is possibly inhibiting you. Over the past two years I've read a decent amount about building habits, and when you boil
        it down it can become very simple. One theory is "BMAP": Behavior = Motivation + Ability + Prompt. It's pretty convincing to me, and I'd like to provide a tool that can tap into this, so that people can reach the goals they have 
        for themselves(starting with myself). The problem is that whenever I begin to gain momentumm, the path forward becomes a little hazy as to how this tool will actually function and how that will even help me or anyone else. I think 
        what's necessary is to figure out what would be the very simplest version that would be helpful to me. There are a lot of sources of inspiration, like JIRA, tools that allow you to break down large-scale projects into bite-sized pieces.
        But I want to build on that, by providing a prompt, a source of motivation, and a way to keep people accountable and allow them to reflect on their progress and determine what may be holding them back. Maybe one simple thing is 
        an inspirational video compiler - scrape reddit for what people have said inspires them, compile the youtube links then send those
        once a week. There's a source of motivation.
        
        Not sure what this will turn into, and I'd like to develop a clearer vision so that the programming can just be knocking out tasks. But it's going to take some thinking first. And that's the hardest part. It would help to talk to others
        as well. In other news, today has been quite a beautiful day, soaking in the sun. It's hard to have a bad Saturday. When life feels this good you have to sit and appreciate it for a little. Watch some adults play softball. Look at all the fun dogs. 
        And then it feels much nicer to return back home. Time to code a little I suppose. 
    </p>
</div>
<chart-draggable></chart-draggable>

