<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="cardContainer">
    <a [href]="link" target="_blank">
        <div class="product-image">
            
            <img [src]="imageUrl" alt="">
            

        <div class="info">
            <h2>Highlights</h2>
            <ul>
                <li *ngFor="let bullet of bullets">
                    {{bullet}}
                </li>
                
            </ul>
        </div>
        </div>
        <div class="product-details">
            <h1>{{title}}</h1>
            Difficulty: <span class="hint-star star">
                <div style="display:flex">
                    <div *ngFor="let item of filledStars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <div *ngFor="let item of emptyStars ">
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
            </span>
            
            <p class="information">{{description}}</p>
        
            <div class="control">
                <button class="btn" (click)="goToLink()">
                <span class="price"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="shopping-cart"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <span class="buy">Take a look</span>
                </button>
            </div>		
        </div>
        
    </a>
</div>