@import url('../../../styles.less');


.navbar{
  box-shadow: 1px 1px 5px 1px #d7d7d799;
  min-height: @toolbar-height;
  margin-bottom:0px;
  padding: 0px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .toolbar-icon{
    transform: scale(.5); 
  }


.container-fluid{
  width: 85%;
  max-width: 1250px;
}


@media only screen 
and (max-width : 1000px) {
  .collapsed {
    display: none !important;
  }

  ul {
    width:100%;
  }
  li {
    width:100% !important;
  }
}


.logo {
  padding-left:10px;
  padding-right:10px;
  color: @primary;
  font-weight:bold;
  font-size: 3em;
  transition: all ease-in-out .3s;
}


.navbar-brand:hover svg, .navbar-brand:hover .logo{
  color: darken(@tint, 10%) !important;
  fill: darken(@tint, 10%) !important;
  transition: all ease-in-out .3s;
}

svg{
  transition: all ease-in-out .3s;
}

.raise-background-on-hover:hover {
  background-image: linear-gradient(fade(@tint, 40%), fade(@tint, 40%));
  background-size: 100% 110%;
  background-position: 0% 100%;
  transition: background-position .7s, background-size .5s ease-in-out;
}

.navbar-toggler:hover {
  background: currentColor;
}
.toolbar {
  background: white;
  color: @primary !important;
  padding: 0px;
  height: fit-content;
  margin: 0px;
}

.right-side{
  margin-left: auto;
  margin-right: 0px !important;
}

.toolbar-item{
  height: 100%;
  font-size: 16px;
  padding:5px;
  width: 100px;
  text-align: center;
  background-image: linear-gradient(@tint, @tint);
  background-size: 100% 0px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size .7s, background-position .5s ease-in-out;
}

.toolbar-item a {
  color: @primary !important;
}

.toolbar-item .active {
  background-image: linear-gradient(@tint, @tint);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size .7s;
}


.toolbar-item:hover{
  cursor: pointer !important;
}

