/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css');
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@primary: #210124;
@secondary: #EFE9E7;
@tertiary: #acfff5;
@tint: #FF116C;
@medium-shadow: 1px 1px 2px 1px fade(@primary, 10%);

@border-radius: 3px;

@toolbar-height: 60px;

@font-face {
    font-family: 'primary';
    src: url('./assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primary';
    src: url('./assets/fonts/Red_Hat_Text/RedHatText-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'secondary';
  src: url('./assets/fonts/Museo_Moderno/MuseoModerno-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'secondary';
  src: url('./assets/fonts/Museo_Moderno/MuseoModerno-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'special';
  src: url('./assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

h1 {
    color: @primary;
    font-family: 'primary';
    font-size: 250%;
  }
  h2 {
    font-size: 40px;
  }
  h2, h3 {
    color: #444;
    font-weight: lighter;
  }
  body {
      background-color: @secondary;
      height: 100%;
      overflow: auto;
  }
  p {
    font-size: 1.6rem;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  a{
    text-decoration:none;
  }
  img{
    width:100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* everywhere else */
  * {
    font-family: 'primary';
  }

  .background{
    background-color: @secondary;
  }

  .page-title {
    font-size: 5rem;
}



.wrapper{
  width: 85%;
  max-width: 1250px;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction:column;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
