/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css');
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('./variables.less');

@font-face {
    font-family: 'primary';
    src: url('./assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'primary';
    src: url('./assets/fonts/Red_Hat_Text/RedHatText-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'secondary';
  src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}


@font-face {
  font-family: 'special';
  src: url('./assets/fonts/Proza_Libre/ProzaLibre-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

h1 {
    color: @primary;
    font-family: 'primary';
    font-size: 56px;
  }
  h2 {
    font-size: 36px;
    font-family: 'secondary';
    color: fade(@secondary, 90%);
  }
  h2, h3 {
    font-weight: lighter;
  }
  body {
      background-color: @primary;
      // background: radial-gradient(circle,fade(@primary, 90%) 0%, fade(@primary, 90%) 10%, @primary 30%);
      color: @secondary;
      height: 100%;
      overflow: auto;
      
  }
  p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: fade(@secondary, 80%);
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  a{
    font-weight: bold;
    color: fade(@tint, 90%);
    text-decoration:none;
    
  }

  a:hover{
    color: @tint;
    text-decoration:none;
  }
  img{
    width:100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* everywhere else */
  * {
    font-family: 'primary';
  }

  .background.dark{
    background-color: @primary;
  }
  .background.light{
    background-color: @secondary;
  }

  .page-title {
    font-size: 5rem;
}


.tint-underline::after{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
  background-color: @tint;
}

.section-title{
    color: @secondary;
    font-family:'special';
}

.text-glow{
  padding:30px;
  border-radius: @border-radius;
  box-shadow: @mini-tint-shadow;
}

.bold-title{
  color:@secondary;
  text-align:center;
  font-size: 56px;
  max-width: 60%;
  margin:auto;
  margin-top: 100px;
  font-family: 'special';
  font-weight: bold;
}
.border-button{
  border: 1px solid @tint;
  box-shadow: @darker-tint-shadow;
  width: fit-content;
  border-radius: @border-radius;
  background: none;
  color: @tint;
  transition: all ease-in-out .3s;
  font-size: 16px;
  font-family: 'special'
}

.border-button:hover{
  background: @tint;
  color: @primary;
  transition: all ease-in-out .3s;
}



.wrapper{
  width: 85%;
  max-width: 1250px;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  max-width: 1250px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction:column;
}

#brightness-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  filter: brightness(100%);
}

.flex-container{
  display:flex;
  width:100%;
  margin-top:30px;
  align-items: center;
}

.vertical-container{
  display:flex;
  width:100%;
  margin-top:30px;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.glow{
  box-shadow: @tint-shadow;
  border-radius: @border-radius;
}

.options-icon{
  fill: @secondary;
  margin-right: 10px;
}


@media only screen and (max-width: 900px) {
  .flex-container{
    flex-direction: column;
    transition: all ease-in-out .5s;
  }
}


@keyframes drawSvg {
  from {
    stroke-dashoffset:1500;
    stroke-dasharray:1500;
  }
  to {
    stroke-dashoffset:0;
    stroke-dasharray: 1500;	
  }
} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
