<hero-image [tint]="'dark'"  [imageUrl]="'/assets/img/homePage/heroImage/hilly-mountains.jpg'">
    <div hero-content>
        <h4 class="pre-header">{{preHeader}}</h4>
        <h1 class="header">{{header}}</h1>
        <div>
            <span *ngFor="let item of subHeaderItems">
            {{item}}
            </span>
        </div>
        <div class="subheader">
            <p class="text-center">Here you'll find a scattering of what I've been interested in throughout the past few years. 
            If you'd like to learn more about who I am, go ahead and take a look at the <a href="about-me">About Me</a> page. 
            Or if you'd like to get in contact, please <a href="contact">reach out!</a>
            </p>
        </div>
    </div>
    <div hero-footer>
        <social-media-links></social-media-links>
    </div>
</hero-image>

<!-- <div style="width:100vw; height:auto; margin-left:0px; padding-left:0px; background-image: url('../../assets/img/homePage/mountain-background.jpg'); object-fit: contain;"> -->

<!-- </div> -->