<hero-image [header]="landingHeader" [tint]="'dark'" [subHeader]="landingSubHeader" [imageUrl]="'/assets/img/homePage/heroImage/mountain-background.jpg'">
</hero-image>
<div style="height:100vh"></div>
<div class="wrapper">
    <div class="main-section">
        <div class="header">
            <h1 class="text-center page-title">Welcome to my website!</h1>
        </div>
        <div class="subheader">
            <p class="text-center">Here you'll find a scattering of what I've been interested in throughout the past few years. 
            You can look through some of my recent <a href="projects">Projects</a>, read through some <a href="blogs">Blogs</a>, or if you'd just like to 
            learn more about who I am, go ahead and take a look at the <a href="aboutMe">About Me</a> page.
            <br>
            If you'd like to get in contact, please <a href="contact">reach out!</a>
        </p>
        </div> 
        <div class="image-decoration image-decoration-1">
            <img class="image" loading='lazy'  src="../../assets/img/homePage/absurd-1.png">
        </div>
        <!-- <div class="left-boundary" *ngFor="let _ of [].constructor(11); let i = index" [style.top]="49+i*7+'vh'" [style.transform]="'skewY(' + (i%2==1 ? '11deg' : '-11deg') + ')'" [style.opacity]="1/(i%4)"></div> -->
        <!-- <div class="gray-square square-4"></div> -->
        <div class="image-decoration image-decoration-2">
            <img class="image" loading='lazy' src="../../assets/img/homePage/absurd-2.png">
        </div>
        
        <!-- <div class="colorful-transition"> 

        </div> -->
        <!-- <card-container
        [array] = "projects"
        >
        </card-container> -->
    </div>
</div>

<!-- <div style="width:100vw; height:auto; margin-left:0px; padding-left:0px; background-image: url('../../assets/img/homePage/mountain-background.jpg'); object-fit: contain;"> -->

<!-- </div> -->