<hero-image [header]="landingHeader" [tint]="'dark'" [preHeader]="landingPreHeader" [subHeaderList]="landingSubHeaderItems" [imageUrl]="'/assets/img/homePage/heroImage/hilly-mountains.jpg'">
    <div hero-footer>
        <social-media-links></social-media-links>
    </div>
</hero-image>
<div class="wrapper">
    <div class="main-section">
        <div class="header">
            <h1 class="text-center page-title">Welcome to my website!</h1>
        </div>
        <div class="subheader">
            <p class="text-center">Here you'll find a scattering of what I've been interested in throughout the past few years. 
            You can look through some of my recent <a href="projects">Projects</a>, read through some <a href="blogs">Blogs</a>, or if you'd just like to 
            learn more about who I am, go ahead and take a look at the <a href="about-me">About Me</a> page.
            <br>
            If you'd like to get in contact, please <a href="contact">reach out!</a>
        </p>
        </div>
        <social-media-links 
        [background]="'dark'"></social-media-links> 
        
        <!-- <div class="colorful-transition"> 

        </div> -->
        <!-- <card-container
        [array] = "projects"
        >
        </card-container> -->
    </div>

    <div class="section">
        <div style="position:relative">
            <ul>
                <li *ngFor="let project of projects">
                    <a [href]="project.url">{{project.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- <div style="width:100vw; height:auto; margin-left:0px; padding-left:0px; background-image: url('../../assets/img/homePage/mountain-background.jpg'); object-fit: contain;"> -->

<!-- </div> -->