@import url('../../styles.less');



.main-section{
    margin-top:5vh;
}

.heading{
    margin:auto;
    margin-top:40vh;
}


.gray-square {
    position:absolute;
    width:20vw;
    height:15vh;
    background-color: rgba(200, 200, 200, 0.168);
}

.left-boundary {
    position:absolute;
    left:7vw;
    width:19vw;
    height:5vh;
    background-color: rgba(18, 105, 105, 0.053);
    opacity: .5;
}

.square-5 {
    right:8vw;
    top: 48vh;
    height:5vh;
    width:15vw;
    transform: skewY(-4deg);
}

.right-boundary {
    position: absolute;
    right:5vw;
    height:20px;
    background-color: gray;
}
.header{
    font-size:50px;
}

.subheader{
    width: 60%;
    margin:auto;
}

.text-center{
    text-align: center;
}

.image-decoration {
    width: 30vw;
    height: 30vh;
}

.image-decoration-1{
    position: absolute;
    right: -12vw;
    top: 12vh;
}

.image-decoration-2{
    position: absolute;
    left: -12vw;
    top: 12vh;
}
.image-decoration-3{
    position: absolute;
    right: 5vw;
    top: 40vh;
}
.image-decoration-4{
    position: absolute;
    left: 4vw;
    top: 40vh;
}

.hide-bg{
    mix-blend-mode: multiply;
    filter: contrast(1);
  }

.colorful-transition {
    position:relative;
    height:300px;
    width:102vw;
    transform: translateX(-11%);
    margin:0px;
    background: linear-gradient(@cream, black);
}